.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.blogLogo {
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 5px;
}

.nav {
  font-size: large;
}

.navUl {
  display: flex;
  gap: 1rem;
}

.navItem a {
  position: relative;
}

.navItem a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}

.navItem a:hover::after {
  transform: scale(1);
}
